/* Accent Colors
***************************************************************************/

a {
  color: #F06E28;
}

a:hover,
a:focus {
  color: #a84d1c;
}

.btn-default {
    border: 1px solid #F06E28;
    color: #F06E28;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #F06E28;
    background-color: #F06E28;
}



/* About Content
***************************************************************************/

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

#headshot {
  border-radius: 50%;
  margin: 0 auto 35px;
  width: 250px;
}

.contact-btn {
  margin: 0 0 35px;
}



/* Portfolio Content
***************************************************************************/

.content-section-a {
  padding: 50px 0;
  /*background-color: #f8f8f8;*/
}
.content-section-b {
  padding: 50px 0;
  /*border-top: 1px solid #e7e7e7;*/
  /*border-bottom: 1px solid #e7e7e7;*/
}
.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}
.section-heading {
  margin-bottom: 30px;
}
.lead {
  font-size: 18px;
  font-weight: 400;
}
.portfolio-btn {
  margin-bottom: 30px;
}


