/* General
***************************************************************************/

.footer-text {
  font-size: 10px;
}

nav.navbar.navbar-custom.navbar-fixed-top.top-nav-collapse {
  background: rgba(0,0,0,0.8);
}

#resume-btn-desktop>ul>li>a:hover {
    color: #F06E28;
}

.shadow {
  text-shadow: 3px 3px 5px #000000, -1px -1px 3px #000000;
}

/* Accent Colors
***************************************************************************/

a {
  color: #F06E28;
}

a:hover,
a:focus {
  color: #a84d1c;
}

.btn-default {
    border: 1px solid #F06E28;
    color: #F06E28;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #F06E28;
    background-color: #F06E28;
}

.btn-invert {
    border: 1px solid #F06E28;
    background-color: #F06E28;
    color: #333;
}

.btn-invert:hover,
.btn-invert:focus {
    border: 1px solid #F06E28;
    /*background: rgba(240,110,40,0.5);*/
    background: rgba(51,51,51,0.7);
    color: #F06E28;
}


/* About Content
***************************************************************************/

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

h5 {
  margin-bottom: 20px;
  font-size: 18px;
}

.exp-ul {
  padding-left: 20px;
}
.exp-ul > li {
  list-style: circle;
}

.experience-item>div>p,
.experience-item>div>ul {
  margin-left: 25px;
}

#headshot {
  border-radius: 50%;
  margin: 0 auto 35px;
  width: 250px;
}

.contact-btn {
  margin: 0 0 35px;
}

#about>h3 {
  margin-top: 25px;
}

.skills {
  margin-bottom: 25px;
}


/* Portfolio Content
***************************************************************************/

.content-section-a {
  padding: 50px 0;
  /*background-color: #f8f8f8;*/
}
.content-section-b {
  padding: 50px 0;
  /*border-top: 1px solid #e7e7e7;*/
  /*border-bottom: 1px solid #e7e7e7;*/
}
.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}
.section-heading {
  margin-bottom: 30px;
}
.lead {
  font-size: 14px;
  font-weight: 400;
}
.portfolio-btn {
  margin-bottom: 30px;
}



/* Media Queries
***************************************************************************/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  #resume-btn-desktop {
    display: none;
  }

  .list-inline>.resume-btn {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
}

/* Medium Devices and Up, Desktops */
@media only screen and (min-width : 768px) {

  #resume-btn-mobile {
    display: none;
  }
}

